{%- assign item = site.data[site.metadata] | where: "objectid", include.objectid | first -%}
{% capture image_src %}{% if item.youtubeid or include.youtubeid %}{{ 'https://img.youtube.com/vi/' | append: include.youtubeid | append: '/hqdefault.jpg' | relative_url }}{% elsif include.img %}{{include.img}}{% else %}{{ item.image_thumb }}{% endif %}{% endcapture %}
<label for="{{include.id}}" class="margin-toggle mb-3">&#8853;</label>
<input type="checkbox" id="{{include.id}}" class="margin-toggle" />
<span class="marginnote {{include.class}}"><a href="{% if include.link %}{{include.link}}{% elsif item.objectid %}{{ item.objectid | append: '.html' | prepend: '/items/' | relative_url }}{% else %}{{ image_src }}{% endif %}">
<img alt="{{ item.description | default: item.title | default: include.title | default: include.caption | escape }}" src="{{image_src | relative_url}}" style="width:{{ include.image-width | default: '70'}}%" /></a>
<br>
<span class="pt-4 figure-caption text-center">{{include.caption }}</span></span>