{% comment %}

use with feature/youtube-clip-modal.html 

    https://developers.google.com/youtube/iframe_api_reference

    data-bs-youtubeid
    data-bs-start
    data-bs-end
    data-bs-title
    data-bs-caption

{% endcomment %}
<div class="modal fade" id="videoClipModal" tabindex="-1" aria-labelledby="videoClipModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content text-body">
            <div class="modal-header">
                <h1 class="modal-title h3" id="videoClipModalLabel">{{ page.title }}</h1>
                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <figure class="mx-auto">
                    <div id="youtubePlayer" class="ratio ratio-16x9"></div>
                    <figcaption class="text-center" id="videoClipModalCaption"></figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

<!-- load youtube iframe api -->
<script src="https://www.youtube.com/iframe_api"></script>
<script>

var player;

// Wait for YouTube IFrame API to finish loading
function onYouTubeIframeAPIReady() {
    // Create a player
    player = new YT.Player('youtubePlayer', {
        height: '450',
        width: '100%',
        //videoId: '{{ youtube_id }}', 
        playerVars: {
            'playsinline': 1,
            'modestbranding': 1,
            'rel': 0
        }
    });

    var videoClipModal = document.getElementById('videoClipModal');
    // On modal open event, load video and play
    videoClipModal.addEventListener('show.bs.modal', event => {
        // read the data attributes
        const button = event.relatedTarget;
        const youtubeid = button.getAttribute('data-bs-youtubeid');
        const startTime = button.getAttribute('data-bs-start');
        const endTime = button.getAttribute('data-bs-end');
        const caption = button.getAttribute('data-bs-caption');
        // add modal caption
        document.getElementById("videoClipModalCaption").innerHTML = caption;
        // change the video
        player.loadVideoById({'videoId': youtubeid,
               'startSeconds': startTime,
               'endSeconds': endTime
            });

        // play video
        player.playVideo();
    });

    // On modal close stop play
    videoClipModal.addEventListener('hide.bs.modal', function () {
        player.stopVideo();
    });
}

</script>