<footer class="bg-dark pt-4 mt-auto container-fluid {% if page.layout == 'mainstreet-home' %}d-lg-none{% endif %}">

    <div class="row border-bottom border-white pb-4 mb-2">

        <div class="col-md-7 px-4 mt-3">

            <h2 class="h4"><a href="{{ '/' | relative_url }}" class="text-white">{{ site.title }}</a></h2>
            <p class="text-white"><small>{{ site.description }}</small></p>
            <nav>
                <ul id="footer-nav" class="nav nav-pills ">
                    {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%}
                    {% for nav in navItems %}
                    <li class="nav-item">
                    {% if nav.stub %}
                        <a class="nav-link text-light{% if page.url == nav.stub %} active{% endif %}" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
                    {%- else -%}
                    {% assign childStub = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' | first %}
                        <a class="nav-link text-light{% if page.url == childStub.stub %} active{% endif %}" href="{{ childStub.stub | relative_url }}">{{ nav.display_name }}</a>
                    {% endif %}
                    </li>
                    {%- endfor -%}
                </ul>
            </nav>

        </div>

        <div class="col-md-5 mt-3 text-center">

           {% if site.organization-logo-nav %} <p class="text-md-end">
                <a href="{{ site.organization-link }}" target="_blank" rel="noopener">
                    <img id="footer-logo" class="img-fluid" src="{{ site.organization-logo-nav | relative_url }}" alt="{{ site.organization-name | escape }} home">
                </a>
            </p>
            {% endif %}
            <p class="text-white text-md-end" id="footer-credits">
                <small><em>built with</em>
                    <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener" title="CollectionBuilder">
                        <img src="{{ '/assets/img/collectionbuilder-logo.png' | relative_url }}" class="img-fluid" alt="CollectionBuilder" >
                    </a>
                </small>
            </p>

        </div>

    </div>

    <div class="col-md-12 text-center pt-3 pb-1">
        <p class="text-white">Last updated {{ site.time | date: '%Y' }}</p>
    </div>

</footer>
<!-- Credits Modal -->
<div class="modal fade" id="creditsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="exampleModalLabel">Credits</h5>
        <button type="button" class="fs-3 btn btn-outline-light border-0" data-bs-dismiss="modal" aria-label="Close" style="cursor: pointer !important;">X</button>
      </div>
      <div class="modal-content credits-container bg-dark">
        <div class="modal-body bg-dark text-white text-center credits">
          <p class="h2">FEATURING </p>
          {%- assign people = site.data[site.metadata] | where_exp: 'item','item.interviewee'  -%}
          {%- assign people = people | sort: 'interviewee' %}
        <p class="h3"> Narrators</p>
      {% for p in people%}
      <p>{{ p.interviewee | replace: ';',' & ' }}</p>
      {% endfor %}
      <p>Interviewers: Monique Lillard and Beau Newsome</p>
      <p>Interpretive Essayist: Milo Muise</p>    
      <p>Producer: Courtney Berge</p>
      <p>Metadata and Processing Work: Courtney Berge</p>
      <p>Producer: Robert Perret</p>
      <p>Trailer Producer: Hanwen Dong</p>
      <p>Design: Devin Becker</p>
      <p>Vintage Design/Metadata Guru: Klytie Xu</p>
      <p>Transcriptionista: Andrew Weymouth</p>
      <p>Media Archivist: Kevin Dobbins</p>
      <p>Technically of some help: Evan Williamson</p>
      <p>Writer/Researcher: Amy Thompson</p>
      <p>Digital Archival Consultant: Sara Szobody</p>
      <p>Archival Consultant: Dulce Kersting-Lark</p>
      <p>Thank you for watching!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>