<div class="collapse width" id="collapseNav">
    <div class="p-2 bg-light" style="width:400px; height: 100%; position: fixed; top: 0; z-index: 90; overflow-y: scroll;">

        <button type="button" class="close" data-toggle="collapse" data-target="#collapseNav" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>  
        
        <div class="row">
        <div class="col text-center mx-auto nav-stack">
        <a href="{{ '/' | relative_url}}"><img class="img-fluid my-3" style="max-height:150px;" src="{{ '/assets/img/mainstreet-logo.jpg' | relative_url }}"></a>
        
        {% include svg/nav-stack.svg %}
    </div>
        </div>
        <!--<ul class="list-unstyled">
            <li><a class="h1 text-dark" href="{{ '/' | relative_url }}">Home</a></li>
            <li><a class="h1 text-dark" href="{{ '/about.html' | relative_url }}">About</a></li>
            <li><a class="h1 text-dark" href="{{ '/browse.html' | relative_url }}">Browse</a></li>
            <li><a class="h1 text-dark" href="{{ '/essay/' | relative_url }}">Essays</a></li>
            
        </ul>

        <div class="">
        
            <div class="">
                <h2>Cult Classics</h2>
                <p><small>The Video Store as Cultural Artifact</small></p>
                <ul class="ms-2 list-unstyled">
                    <li>Memento (2000): The Collection</li>
                    <li>The Thing (1982): A Tangible Experience</li>
                    <li>Clerks (1994): The Employees</li>
                </ul>
            </div>
            <div class="">
                <h2>Westerns</h2>
                <p><small>The Rural Video Store</small></p>
                <ul class="ms-2 list-unstyled">
                    <li>Meek's Cutoff (2010): Accessibility</li>
                    <li>Once Upon a Time in the West (1968): Customer Recollections</li>
                    <li>Stagecoach (1939): The Moscow Community</li>
                </ul>
            </div>
            <div class="">
                <h2>Horror</h2>
                <p><small>The Nail in the Video Store's Coffin (…or is it?)</small></p>
                <ul class="ms-2 list-unstyled">
                    <li>It Follows (2014): Main Street Video's Final Days</li>
                    <li>Don't Look Now (1973): What's Been Lost</li>
                    <li>Frankenstein (1931): How to Reanimate the Video Store in the 21st Century</li>
                </ul>
            </div>
        </div>-->

    </div>
</div>
</div>
