<p class="h2 my-3 notable">The Collection

<a href="{{ '/about.html' | relative_url }}">
    {% include svg/mobile/about-flat.svg %}
    <span class="visually-hidden">What is it all About?</span>
</a>
<a href="{{ '/browse.html' | relative_url }}">
    {% include svg/mobile/browse-flat.svg %}
    <span class="visually-hidden">Staff and Customer Interviews</span>
</a>

</p>

<p class="h2 my-3 notable">The Essays

<a href="{{ '/essay/' | relative_url }}">
    {% include svg/mobile/intro-down-arrow.svg %}
    <span class="visually-hidden">Revisiting Howard Hughes, essays by Milo Muise</span>
</a>
<a href="{{ '/essay/cult-classics.html' | relative_url }}">
    {% include svg/mobile/cult-flat.svg %}
    <span class="visually-hidden">Cult Classics</span>
</a>
<a href="{{ '/essay/horror.html' | relative_url }}">
    {% include svg/mobile/horror-flat.svg %}
    <span class="visually-hidden">Horror</span>
</a>
<a href="{{ '/essay/westerns.html' | relative_url }}">
    {% include svg/mobile/westerns-flat.svg %}
    <span class="visually-hidden">Westerns</span>
</a>

<p class="h2 my-3 notable">The Data

<a href="{{ '/inventory.html' | relative_url }}">
    {% include svg/mobile/inventory-flat.svg %}
    <span class="visually-hidden">Inventory of films donated to Special Collections</span>
</a>
<a href="{{ '/recommendations.html' | relative_url }}">
    {% include svg/mobile/recommendations-flat.svg %}
    <span class="visually-hidden">Recommendations</span>
</a>
<a href="{{ '/subjects.html' | relative_url }}">
    {% include svg/mobile/subjects-flat.svg %}
    <span class="visually-hidden">Subjects</span>
</a>
<a href="{{ '/data.html' | relative_url }}">
    {% include svg/mobile/data-flat.svg %}
    <span class="visually-hidden">Data</span>
</a>

</p>
