---
# Default home page with boxes providing collection stats
layout: default
custom-foot: js/interviews-js.html;js/youtube-clips-modal.html
---
<div class="container-fluid">

  <div class="row my-2">

    <div class="col-12 col-lg-6 py-0 px-5 text-center">
      <div class="tvimage-container position-relative">
          <a href="/path-to-trailer" class="stretched-link">
              <!-- Ensure this a-tag has the stretched-link class to make the entire div clickable -->
              <figure class="figure mx-3">
                  <img class="figure-img img-fluid rounded" alt="" title="click to see item" src="{{ '/assets/img/tvimage.png' | relative_url}}" >
                  <figcaption class="figure-caption text-center"></figcaption>
              </figure>
              <a class="btn btn-lg btn-dark position-absolute top-50 start-50 translate-middle" type="button" data-bs-toggle="modal" data-bs-target="#videoClipModal" data-bs-youtubeid="NVs2-8j8bh4">{% include feature/icon.html icon="film" label="film icon Play Trailer" %} Watch Trailer</a>
          </a>
      </div>
  </div>
  

    <div class="col-12 col-lg-6 caveat h2 px-3 text-center my-3">
      <p class="mb-3 px-3">
        An oral-historical exploration of the last video store in Moscow, Idaho, featuring interviews with former <a href="browse.html#employee">staff</a>, <a href="browse.html#customer">customers</a>, <a href="browse.html#Main%20Street%20Video%20Co-op%20Board">board members</a>, and <a href="browse.html#owner">owners</a> of the Main Street Video Co-Op and Howard Hughes Video.
      </p>

      <p class="mb-3 px-3">
        <a href="essay/" class="mt-4">Collection Essays</a> by Milo Muise.
      </p>

      <p class="mb-3 px-3">
        <a href="browse.html" class="mt-4">Interviews</a> conducted by: <br> Monique Lillard and Beau Newsome.
      </p>
      
      <p class="mb-3">
          <button data-bs-toggle="modal" data-bs-target="#creditsModal" type="button" aria-label="Open up a Credits Modal for the site" class="btn btn-outline-info fs-4">Roll Credits</button>
      </p>

    </div>
 
  </div>

  <div class="row mb-lg-5 pb-lg-5">
      <div class="col-12 col-lg-10 mb-lg-5">
      
        <div class="text-center d-none main-mobile">{% include svg/main-mobile.svg %}</div>
        <div class="mt-4">{% include svg/main2.svg %}</div>
        
      </div>
  </div>

</div>
