---
# Default home page with boxes providing collection stats
layout: default
custom-foot: js/interviews-js.html;js/youtube-clips-modal.html;js/homepage-zindex-js.html
---
<div class="container-fluid">

  <div class="row my-2">

    <div class="col-12 col-lg-6 py-0 text-center">
      <div id="tvimage-container" class="position-relative">
          <a data-bs-toggle="modal" data-bs-target="#videoClipModal" data-bs-youtubeid="NVs2-8j8bh4">
              <!-- Ensure this a-tag has the stretched-link class to make the entire div clickable -->
              <figure class="figure mx-3">
                  <img class="figure-img img-fluid rounded" alt="" title="click to see item" src="{{ '/assets/img/tvimage.png' | relative_url}}" >
                  <figcaption class="figure-caption text-center"></figcaption>
              </figure>
              <a class="btn btn-lg btn-dark position-absolute top-50 start-50 translate-middle caveat fs-3" role="button" data-bs-toggle="modal" data-bs-target="#videoClipModal" data-bs-youtubeid="NVs2-8j8bh4"><svg width="40" height="40" viewBox="0 0 40 40" fill="white" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.8862 14.2714H3.14657C2.29878 14.2714 1.61086 14.9593 1.61086 15.8071V26.5242C1.61086 27.4224 2.3385 28.15 3.23668 28.15H21.8871C22.7853 28.15 23.513 27.4224 23.513 26.5242V15.8972C23.512 14.9991 22.7843 14.2714 21.8862 14.2714Z" />
                <path d="M9.79871 12.1573C11.5786 10.3774 11.5786 7.49166 9.79871 5.71178C8.01882 3.93189 5.13306 3.93189 3.35317 5.71178C1.57328 7.49166 1.57328 10.3774 3.35317 12.1573C5.13306 13.9372 8.01882 13.9372 9.79871 12.1573Z" />
                <path d="M23.699 11.7349C26.0435 9.39045 26.0435 5.58938 23.699 3.24496C21.3546 0.900533 17.5536 0.900534 15.2091 3.24496C12.8647 5.58939 12.8647 9.39045 15.2091 11.7349C17.5536 14.0793 21.3546 14.0793 23.699 11.7349Z" />
                <path d="M32.0064 14.6348L24.5129 19.145V22.9247L31.9637 27.6181C32.2244 27.8254 32.61 27.6394 32.61 27.3061V14.9758C32.61 14.6658 32.2719 14.4749 32.0064 14.6348Z" />
                </svg>Watch Trailer</a>
          </a>
      </div>
  </div>
  

    <div class="col-12 col-lg-6 caveat h2 px-3 text-center my-3">
      <p class="mb-3 px-3">
        An oral-historical exploration of the last video store in Moscow, Idaho, featuring interviews with former <a href="browse.html#employee">staff</a>, <a href="browse.html#customer">customers</a>, <a href="browse.html#Main%20Street%20Video%20Co-op%20Board">board members</a>, and <a href="browse.html#owner">owners</a> of the Main Street Video Co-Op and Howard Hughes Video.
      </p>

      <p class="mb-3 px-3">
        <a href="essay/" class="mt-4">Collection Essays</a> by Milo Muise.
      </p>

      <p class="mb-3 px-3">
        <a href="browse.html" class="mt-4">Interviews</a> conducted by: <br> Monique Lillard and Beau Newsome.
      </p>
      
      <p class="mb-3">
          <button data-bs-toggle="modal" data-bs-target="#creditsModal" type="button" aria-label="Open up a Credits Modal for the site" class="btn btn-outline-info fs-4">Roll Credits</button>
      </p>

    </div>
 
  </div>

  <div class="row mb-lg-5 pb-lg-5">
      <div class="col-12 col-lg-10 mb-lg-5">
      
        <div class="text-center d-none main-mobile">{% include svg/main-mobile.svg %}</div>
        <div class="mt-4">{% include svg/main2.svg %}</div>
        
      </div>
  </div>

</div>
